
.authors{
  float: right;
  padding-left: 15px;

}
li {
 list-style-type: none;

}
.octocat > a > img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: 	#D3D3D3;
  border-width: 1px;

}

.octocat {
  position: relative;
  float: left;
  margin-right: 20px;
  border-bottom: 1px solid;
  padding-bottom: 6px;

}

 .authors img {
  height: 25px;
  width: 25px;
  float: left;
  position: relative;
  top: -3px;
}


.image-caption {
  position: relative;
  float: right;
}
a {
  text-decoration: none;
  color: black;
}
.image-number {
  position: relative;
  float: left;
  color: #D3D3D3;
}

ul {
  float:left;
}

body {
  color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

}

.image-number::before {
  content: "#";
}
